.list-group-item a {
  text-decoration: none;
  color: black;
}

audio {
  position: relative;
  left: 20%;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

body {
  margin: 0;
  background-image: url(https://images.pexels.com/photos/3695238/pexels-photo-3695238.jpeg?cs=srgb&dl=pexels-damir-mijailovic-1921088-3695238.jpg&fm=jpg);
  background-size: 100%;
}

body.dark-mode {
  background-image: url(https://papers.co/wallpaper/papers.co-vt30-abstract-polygon-bw-pattern-gray-23-wallpaper.jpg);
  background-size: 50%;
}

.card {
  max-width: 15em;
  flex-direction: row;
}

.card-img {
  max-width: 25%;
  margin: auto;
  padding: 0.5px;
}

#carousel-example {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
}

.col-lg-9 {
  background-color: white;
  border-radius: 10px;
}

#dark-mode-pfp {
  position: absolute;
  right: 5%;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.error {
   color: red;
}

footer {
  background-color: rgb(192, 210, 252);
  height: 100px;
}

footer.dark-mode {
  background-color: black;
}

footer.dark-mode p {
  color: white;
}

header {
  top: 0;
  position: relative;
  background-color: rgb(192, 210, 252);
  height: 70px;
}

header.dark-mode {
  background-color: black;
}

header.dark-mode p {
  color: white;
}

header.dark-mode #pfp-button {
  background-color: black;
}

header.dark-mode #profile-picture {
  opacity: 0;
}

header.dark-mode #dark-mode-pfp {
  opacity: 1;
}

header.dark-mode #logo {
  color: white;
}

#hover-pfp {
  position: absolute;
  right: 5%;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

#logo {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  position: relative;
  left: 5%;
}

.main-bar {
  background-color: white;
  width: 540px;
  border-radius: 10px;
  position: relative;
  top: 15px;
}

.main-bar.dark-mode {
  background-color: black;
  color: white;
}

.main-bar.dark-mode .artist-list li a {
  color: white;
}

.music-pic {
  background-color: rgb(192, 210, 252);
  width: 10%;
  height: 50px;
  position: relative;
  left: 10%;
  top: 10px;
}

#main-bar-top-text {
  position: relative;
  left: 40px;
  font-family: sans-serif;
}

.option-list a {
  text-decoration: none;
  color: black;
}

.side-bar.dark-mode .option-list a, 
.option-list.dark-mode a {
  color: white;
}

.option-list {
  list-style-type: none;
}

#option-list-bottom {
  margin-top: 100px;
  margin-bottom: 68px;
}

#option-list-top {
  margin-top: 30px;
}

#pfp-button {
  background-color: rgb(192, 210, 252);
  width: 50px;
  height: 50px;
  padding: 0%;
  border: none;
  position: absolute;
  right: 5%;
  top: 10px;
}

#pfp-button:hover #dark-mode-pfp {
  opacity: 0;
}

#pfp-button:hover #hover-pfp {
  opacity: 1;
}

#pfp-button:hover #profile-picture {
  opacity: 0;
}

#profile-picture {
  position: absolute;
  right: 5%;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
}

.playlist {
  background-color: rgb(192, 210, 252);
  width: 80%;
  height: 50px;
  position: relative;
  left: 10%;
  top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.playlist-text {
  position: relative;
  right: 40%;
}

.search-bar {
  display: inline-block;
  font-size: 15px;
  position: relative;
  left: 40%;
  height: 23px;
}

#search-button {
  display: inline-block;
  padding: 5px;
  position: relative;
  left: 40%;
  cursor: pointer;
}

#selected-page {
  color: rgb(79, 132, 255);
}

.side-bar {
  background-color: white;
  width: 200px;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  top: 15px;
}

.side-bar.dark-mode {
  background-color: black;
  color: white;
}

.side-bar a:hover {
  color: rgb(165, 190, 248); 
}

.side-bar.dark-mode a:hover {
  color: rgb(165, 190, 248); 
}

.popup { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; background-color: white; border: 1px solid #ccc; }

.overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }

.content { display: none; padding: 10px; }
        
.music { 
  cursor: pointer;
  padding: 10px;
  background-color: rgb(172, 172, 172);
 }

 .focused {
  background-color: #333;
  color: #fff;
}
